body {
  background-image: url("C:/Users/CC10/Documents/Full_House/Module/images/vortex1.gif");
  background-color: #f8f9fa;
  background-size: cover; /* opcional: para que cubra toda la pantalla */
  background-repeat: no-repeat; /* opcional: para que no se repita */
}
