body {
  background-image: url("../images/vortex1.gif");
  background-color: #164472;
  background-size: cover;         /* Hace que la imagen cubra toda la pantalla */
  background-repeat: no-repeat;   /* No repite la imagen */
  background-position: center;    /* Centra la imagen */
  min-height: 100vh;              /* Asegura que el body tenga al menos el alto de la ventana */
  width: 100vw;                   /* Asegura que el body tenga el ancho de la ventana */
  margin: 0;                      /* Elimina márgenes por defecto */
  padding: 0;                     /* Elimina padding por defecto */
  overflow-x: hidden;             /* Evita scroll horizontal */
}
