body {
  background-image: url("C:/Users/CC10/Documents/Full_House/Module/images/FondoLogin.png");
  background-color: #164472;
  background-size: cover; /* opcional: para que cubra toda la pantalla */
  background-repeat: no-repeat; /* opcional: para que no se repita */
}
